<div id="<%= dom_id bank_billet %>" class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6">
  <h2 class="text-xl font-semibold mb-4">Detalhes do Boleto</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="col-span-1 md:col-span-3">
      <p class="font-medium">Descrição:</p>
      <p class="text-gray-600"><%= bank_billet.description %></p>
    </div>
    <div>
      <p class="font-medium">Valor:</p>
      <p class="text-gray-600"><%= bank_billet.amount %></p>
    </div>
    <div>
      <p class="font-medium">Vencimento:</p>
      <p class="text-gray-600"><%= bank_billet.expire_at %></p>
    </div>
    <div>
      <p class="font-medium">CNPJ/CPF:</p>
      <p class="text-gray-600"><%= bank_billet.customer_cnpj_cpf %></p>
    </div>
    <div class="col-span-1 md:col-span-3 grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <p class="font-medium">Nome Completo:</p>
        <p class="text-gray-600"><%= bank_billet.customer_person_name %></p>
      </div>
      <div>
        <p class="font-medium">Telefone:</p>
        <p class="text-gray-600"><%= bank_billet.customer_phone_number %></p>
      </div>
      <div>
        <p class="font-medium">Email:</p>
        <p class="text-gray-600"><%= bank_billet.customer_email %></p>
      </div>
    </div>
    <div class="col-span-1 md:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <p class="font-medium">Endereço:</p>
        <p class="text-gray-600"><%= bank_billet.customer_address %>, <%= bank_billet.customer_address_number %></p>
        <p class="text-gray-600"><%= bank_billet.customer_address_complement %>, <%= bank_billet.customer_neighborhood %></p>
        <p class="text-gray-600"><%= bank_billet.customer_city_name %>, <%= bank_billet.customer_state %> - <%= bank_billet.customer_zipcode %></p>
      </div>
    </div>
  </div>

  <% if action_name != "show" %>
    <div class="mt-6 flex space-x-4">
      <%= link_to "Mostrar este boleto", bank_billet_path(@bank_billet), class: "flex-1 text-center rounded-lg py-3 bg-blue-500 text-white font-medium hover:bg-blue-600 transition-colors" %>
      <%= link_to "Editar este boleto", edit_bank_billet_path(bank_billet), class: "flex-1 text-center rounded-lg py-3 bg-green-500 text-white font-medium hover:bg-green-600 transition-colors" %>
    </div>
  <% end %>
</div>
